nodered_flow/sensorhub_relay.json
[{"id":"812bbcd6.75e3c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1d89473a.fc0b99","type":"mqtt in","z":"812bbcd6.75e3c","name":"Temperature","topic":"ESP/Temperature(*C)","qos":"2","datatype":"auto","broker":"74cc00bb.26955","x":130,"y":240,"wires":[["d3a5e6ec.f93c88"]]},{"id":"41ce593.b5aeca8","type":"mqtt in","z":"812bbcd6.75e3c","name":"Pressure","topic":"ESP/Pressure(Pa)","qos":"2","datatype":"auto","broker":"74cc00bb.26955","x":140,"y":300,"wires":[["6e56c472.3b902c"]]},{"id":"c8fb85a3.135bf8","type":"mqtt in","z":"812bbcd6.75e3c","name":"Altitude","topic":"ESP/Altitude(m)","qos":"2","datatype":"auto","broker":"74cc00bb.26955","x":150,"y":360,"wires":[["f1c30a35.72bfb8"]]},{"id":"993ca4ac.1e0908","type":"mqtt in","z":"812bbcd6.75e3c","name":"SealevelPressure","topic":"ESP/SealevelPressure(Pa)","qos":"2","datatype":"auto","broker":"74cc00bb.26955","x":120,"y":420,"wires":[["a737be71.9d47c"]]},{"id":"e4d6276a.3d8718","type":"mqtt in","z":"812bbcd6.75e3c","name":"RealAltitude","topic":"ESP/RealAltitude(m)","qos":"2","datatype":"auto","broker":"74cc00bb.26955","x":130,"y":480,"wires":[["9fbd9392.f25b7"]]},{"id":"c03b6e4.c61419","type":"mqtt in","z":"812bbcd6.75e3c","name":"LuxMessage","topic":"ESP/LuxMessage","qos":"2","datatype":"auto","broker":"74cc00bb.26955","x":130,"y":180,"wires":[["1284cf91.b39bd"]]},{"id":"d2f44e74.7062d","type":"mqtt in","z":"812bbcd6.75e3c","name":"LuxLevel","topic":"ESP/LuxLevel","qos":"2","datatype":"auto","broker":"74cc00bb.26955","x":140,"y":120,"wires":[["153f40ff.0d925f"]]},{"id":"dc9f19f4.f7fa08","type":"mqtt in","z":"812bbcd6.75e3c","name":"Lux","topic":"ESP/Lux","qos":"2","datatype":"auto","broker":"74cc00bb.26955","x":150,"y":60,"wires":[["a80439c.ba928c8"]]},{"id":"a80439c.ba928c8","type":"function","z":"812bbcd6.75e3c","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":60,"wires":[["42c90d9e.b4e0c4","52884919.02cba8"]]},{"id":"153f40ff.0d925f","type":"function","z":"812bbcd6.75e3c","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":120,"wires":[[]]},{"id":"d3a5e6ec.f93c88","type":"function","z":"812bbcd6.75e3c","name":"","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":240,"wires":[["41c0b42e.f9db9c"]]},{"id":"6e56c472.3b902c","type":"function","z":"812bbcd6.75e3c","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":300,"wires":[[]]},{"id":"f1c30a35.72bfb8","type":"function","z":"812bbcd6.75e3c","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":360,"wires":[[]]},{"id":"a737be71.9d47c","type":"function","z":"812bbcd6.75e3c","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":420,"wires":[[]]},{"id":"9fbd9392.f25b7","type":"function","z":"812bbcd6.75e3c","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":480,"wires":[[]]},{"id":"41c0b42e.f9db9c","type":"ui_gauge","z":"812bbcd6.75e3c","name":"","group":"1b27b781.929618","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature(*C)","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":240,"wires":[]},{"id":"42c90d9e.b4e0c4","type":"ui_gauge","z":"812bbcd6.75e3c","name":"","group":"1b27b781.929618","order":1,"width":0,"height":0,"gtype":"gage","title":"Room Lighting(Lux)","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#e6e600","#01ef09"],"seg1":"","seg2":"","x":590,"y":60,"wires":[]},{"id":"1284cf91.b39bd","type":"ui_text","z":"812bbcd6.75e3c","group":"1b27b781.929618","order":2,"width":0,"height":0,"name":"","label":"Room Lighting","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":180,"wires":[]},{"id":"8be5144d.7597b8","type":"mqtt out","z":"812bbcd6.75e3c","name":"Relay","topic":"ESP01/RELAY","qos":"","retain":"","broker":"74cc00bb.26955","x":610,"y":600,"wires":[]},{"id":"a7a8f073.ea09a","type":"ui_button","z":"812bbcd6.75e3c","name":"","group":"1b27b781.929618","order":3,"width":0,"height":0,"passthru":false,"label":"Toggle Relay","tooltip":"","color":"","bgcolor":"","icon":"","payload":"toggleSTATE","payloadType":"str","topic":"toggletopic","topicType":"str","x":190,"y":540,"wires":[["570b9662.80cf68"]]},{"id":"fd310a2.e7433f8","type":"inject","z":"812bbcd6.75e3c","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":550,"y":320,"wires":[["293f05ee.82887a","1785aeb5.7645a1"]]},{"id":"293f05ee.82887a","type":"mqtt out","z":"812bbcd6.75e3c","name":"Relay","topic":"ESP01/RELAY","qos":"","retain":"","broker":"74cc00bb.26955","x":750,"y":320,"wires":[]},{"id":"1785aeb5.7645a1","type":"debug","z":"812bbcd6.75e3c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":420,"wires":[]},{"id":"125cd70.7bfa129","type":"inject","z":"812bbcd6.75e3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"toggletopic","payload":"toggleSTATE","payloadType":"str","x":170,"y":600,"wires":[["570b9662.80cf68"]]},{"id":"570b9662.80cf68","type":"toggle","z":"812bbcd6.75e3c","name":"","onOffTopic":"onofftopic","onValue":"1","onType":"str","offValue":"0","offType":"str","toggleTopic":"toggletopic","toggleValue":"toggleSTATE","toggleType":"str","passOnOff":"always","x":430,"y":600,"wires":[["1785aeb5.7645a1","8be5144d.7597b8"]]},{"id":"8f2b7adb.6771f8","type":"inject","z":"812bbcd6.75e3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"onofftopic","payload":"1","payloadType":"str","x":170,"y":660,"wires":[["570b9662.80cf68","e9a7d19a.8fe46"]]},{"id":"daa0a512.967638","type":"inject","z":"812bbcd6.75e3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"onofftopic","payload":"0","payloadType":"str","x":170,"y":720,"wires":[["570b9662.80cf68","e9a7d19a.8fe46"]]},{"id":"52884919.02cba8","type":"function","z":"812bbcd6.75e3c","name":"","func":"if(msg.payload < 30){\n    msg.payload = \"1\"\n    msg.topic = \"onofftopic\"\n}\n// else{\n//     msg.payload = \"0\"\n//     msg.topic = \"onofftopic\"\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":120,"wires":[["4f2039dd.620598","570b9662.80cf68"]]},{"id":"4f2039dd.620598","type":"debug","z":"812bbcd6.75e3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":120,"wires":[]},{"id":"e9a7d19a.8fe46","type":"debug","z":"812bbcd6.75e3c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":680,"wires":[]},{"id":"74cc00bb.26955","type":"mqtt-broker","name":"Local Mosquitto","broker":"localhost","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"node-red-connected","birthQos":"0","birthRetain":"true","birthPayload":"1","closeTopic":"node-red-connected","closeQos":"0","closeRetain":"true","closePayload":"0","willTopic":"node-red-connected","willQos":"0","willRetain":"true","willPayload":"-1"},{"id":"1b27b781.929618","type":"ui_group","name":"Default","tab":"105ebac3.8215a5","order":1,"disp":true,"width":"6","collapse":false},{"id":"105ebac3.8215a5","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]